# Importing Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

sns.set()

# Reading the datasets

In [2]:
bejaia_df = pd.read_csv("Forest Fire data/Algerian_forest_fires_dataset_UPDATE.csv", skiprows=1, nrows=122)
bejaia_df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire

In [3]:
bejaia_df = bejaia_df.rename(columns = {i: i.strip() for i in bejaia_df.columns})
bejaia_df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes'],
      dtype='object')

# Cleaning Data

In [4]:
print(bejaia_df["Classes"].unique())
bejaia_df["Classes"] = bejaia_df["Classes"].str.strip()
print(bejaia_df["Classes"].unique())

['not fire   ' 'fire   ' 'fire' 'fire ' 'not fire' 'not fire ']
['not fire' 'fire']

In [5]:
abbes_df = pd.read_csv("Forest Fire data/Algerian_forest_fires_dataset_UPDATE.csv", skiprows=126)
abbes_df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2,not fire
1,2,6,2012,30,73,13,4.0,55.7,2.7,7.8,0.6,2.9,0.2,not fire
2,3,6,2012,29,80,14,2.0,48.7,2.2,7.6,0.3,2.6,0.1,not fire
3,4,6,2012,30,64,14,0.0,79.4,5.2,15.4,2.2,5.6,1.0,not fire
4,5,6,2012,32,60,14,0.2,77.1,6.0,17.6,1.8,6.5,0.9,not fire

In [6]:
abbes_df = abbes_df.rename(columns = {i: i.strip() for i in abbes_df.columns})
abbes_df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes'],
      dtype='object')

In [7]:
print(abbes_df["Classes"].unique())
abbes_df["Classes"] = abbes_df["Classes"].str.strip()
print(abbes_df["Classes"].unique())

['not fire   ' 'fire   ' 'not fire     ' 'not fire    ']
['not fire' 'fire']

In [8]:
bejaia_df["fire"] = pd.get_dummies(bejaia_df["Classes"])["fire"]
bejaia_df.drop(columns=["Classes"], inplace=True)
bejaia_df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,fire
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,0

In [9]:
abbes_df["fire"] = pd.get_dummies(abbes_df["Classes"])["fire"]
abbes_df.drop(columns=["Classes"], inplace=True)
abbes_df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,fire
0,1,6,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2,0
1,2,6,2012,30,73,13,4.0,55.7,2.7,7.8,0.6,2.9,0.2,0
2,3,6,2012,29,80,14,2.0,48.7,2.2,7.6,0.3,2.6,0.1,0
3,4,6,2012,30,64,14,0.0,79.4,5.2,15.4,2.2,5.6,1.0,0
4,5,6,2012,32,60,14,0.2,77.1,6.0,17.6,1.8,6.5,0.9,0

In [10]:
abbes_df.drop(columns=["day", "month", "year"], inplace=True)
bejaia_df.drop(columns=["day", "month", "year"], inplace=True)

In [11]:
df1 = bejaia_df[bejaia_df["fire"] == 1].drop(columns=["fire","BUI", "FWI"])
df2 = abbes_df[abbes_df["fire"] == 1].drop(columns=["fire","BUI", "FWI"])
df3 = bejaia_df[bejaia_df["fire"] == 0].drop(columns=["fire","BUI", "FWI"])
df4 = abbes_df[abbes_df["fire"] == 0].drop(columns=["fire","BUI", "FWI"])

# Multivariate Inferential statistics involving two populations

Null Hypothesis: Diffenece between means of both populations is 0.

Assumpotion : Both populations have same covarinace matrix.

In [12]:
from scipy import stats

def Spooled(df1,df2):
    n1 = len(df1)
    n2 = len(df2)
    S1 = df1.cov()
    S2 = df2.cov()
    Spool = ((n1-1)*S1 + (n2-1)*S2)/(n1+n2-2)
    return Spool

def CriticalValue(df1,df2,confidence):
    alpha = 1 - confidence
    n1 = len(df1)
    n2 = len(df2)
    p = len(df1.columns)
    fval = ((n1+n2-2)*p)/(n1+n2-p-1)*stats.f.ppf(alpha, p, n1+n2-p-1)
    return fval

def T2(df1,df2):
    n1 = len(df1)
    n2 = len(df2)
    Spool = Spooled(df1,df2)
    Spool_inv = np.linalg.inv((1/n1 + 1/n2)*Spool)
    z = df2.mean() - df1.mean()
    T2val = z.T @ Spool_inv @ z 
    return T2val

def inference(df1,df2,confidence):
    t2 = T2(df1,df2)
    f = CriticalValue(df1,df2,confidence)
    print(f"Hotelling Tsquare value - {t2}")
    print(f"Critical value - {f}")
    if t2 > f:
        return "Reject H0"
    else:
        return "Fail To Reject H0"
    
print(f"Inference when fire=1 : {inference(df1,df2,0.90)}\n")
print(f"Inference when fire=0 : {inference(df3,df4,0.90)}")

Hotelling Tsquare value - 119.79079099655752
Critical value - 3.6439413170767088
Inference when fire=1 : Reject H0

Hotelling Tsquare value - 37.02379239256593
Critical value - 3.694451626644587
Inference when fire=0 : Reject H0

In [13]:
print(f"Inference when fire = 0 : {inference(df3,df4,0.0001)}")

Hotelling Tsquare value - 37.02379239256593
Critical value - 39.02226744130967
Inference when fire = 0 : Fail To Reject H0